.social-login
    button.social-login--github
        span
            i.fab.fa-github
        //|는 태그가 아니고 텍스트라고 알려줌
        |Continue with Github
    button.social-login--facebook
        span
            i.fab.fa-facebook
        |Continue with Facebook