doctype html
html
    head
        title Streamer Times
    body
        header
            h1 Fuck
        main
            block content
        footer
            span &copy; Strimer Times
                
